<div id="workflow_filters">
  <h3><%= t(".currently_showing") %></h3>
  <% if !(params.keys & ['category_id', 'uploader_id', 'query', 'visibility']).empty?  %>
    <ul>
      <% unless params[:category_id].blank? %>
        <li>
          <%= t(".in_category") %> <strong><%= WorkflowCategory.find_by_id(params[:category_id]).try(:name)-%></strong>
          <%= workflow_filter(t(".clear"), params, :category_id, nil) -%>
        </li>
      <% end %>
      <% unless params[:visibility].blank? %>
        <li>
        <% if params[:visibility] == 'private' %>
          <strong><%= t(".private") %> </strong> 
          <%= workflow_filter(t(".clear"), params, :visibility, nil) -%>
        <% elsif params[:visibility] == 'public' %>
          <strong><%= t(".public") %> </strong>
          <%= workflow_filter(t(".clear"), params, :visibility, nil) -%>
        <% elsif params[:visibility] == 'registered' %>
            <%= t(".only_visible") %>  <strong><%= t(".registered_users") %></strong>
          <%= workflow_filter(t(".clear"), params, :visibility, nil) -%>
        <% elsif params[:visibility].starts_with?('Project') %>
          <%= t(".only_visible_members") %> <strong><%= Project.find_by_id(params[:visibility].split(':').last).title-%></strong>
          <%= workflow_filter(t(".clear"), params, :visibility, nil) -%>
        <% end %>
        </li>
      <% end %>
      <% unless params[:uploader_id].blank? %>
        <li>
          <%= t(".uploaded_by") %> <strong><%= User.find_by_id(params[:uploader_id]).try(:person).try(:name)-%></strong>
          <%= workflow_filter(t(".clear"), params, :uploader_id, nil) -%>
        </li>
      <% end %>
      <% if params[:commit] == "Search" && !params[:query].blank?  %>
        <li>
          <%= t(".matching_query") %>: <strong><%= params[:query]-%></strong>
          <%= workflow_filter(t(".clear"), params, :query, nil) -%>
        </li>
      <% end %>
    </ul>

    <%= button_to t(".clear_all"), workflows_path, :method => :get -%>

  <% else %>
      <%= t(".all_workflows") %>
  <% end %>
  <h3><%= t(".filter_by_category") %></h3>
  <ul>
    <% WorkflowCategory.all.each do |category| %>
      <% visible_workflow_count = Workflow.where(:category_id => category.id).select {|w| w.can_view?}.count %>
      <% if logged_in? %>
         <li><%= workflow_filter category.name, params, :category_id, category.id -%></li>
      <% elsif visible_workflow_count > 0 %>
        <li><%= workflow_filter category.name, params, :category_id, category.id -%></li>
      <% end %>
    <% end %>
  </ul>

  <% if logged_in? && current_user.person %>
    <h3><%= t(".filter_by_visibility") %></h3>
    <ul>
      <li><%= workflow_filter  t(".private_workflows"), params, :visibility, "private" -%></li>
      <% current_user.person.projects.each do |project| %>
        <li><%= workflow_filter " #{t('.only_visible_members')}  #{project.title}", params, :visibility, "Project:#{project.id}" -%></li>
      <% end %>
      <li><%= workflow_filter  "#{t('.only_visible_users')}", params, :visibility, "registered" -%></li>
      <li><%= workflow_filter  "#{t('.public_workflows')}", params, :visibility, "public" -%></li>
    </ul>
  <% end %>
  <% if logged_in? %>
  <h3><%= t(".filter_by_uploader") %></h3>
    <ul>
      <% if logged_in? && current_user.person %>
        <li><%= workflow_filter  current_user.person.name, params, :uploader_id, current_user.id -%> <%= t".you" %></li>
      <% end %>
      <% uploaders = User.all.select { |u| !u.person.nil? && u != current_user } %>
      <% uploaders.first(5).each do |user| %>
        <li><%= workflow_filter  user.person.name, params, :uploader_id, user.id -%></li>
      <% end %>
    </ul>
    <% if uploaders.count > 5 %>
      <ul id="uploader-list-expanded" style="display: none">
        <% uploaders.drop(5).each do |user| %>
          <li><%= workflow_filter  user.person.name, params, :uploader_id, user.id -%></li>
        <% end %>
      </ul>
      <a href="#" onclick="$('uploader-list-expanded').show(); $(this).hide(); return false" style="margin-left: 1em">Show all users</a>
    <% end %>
  <% end %>
</div>
