<h1>Listing track_uses</h1>

<table>
  <tr>
    <th>Message</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @track_uses.each do |track_use| %>
  <tr>
    <td><%= track_use.message %></td>
    <td><%= track_use.user %></td>
    <td><%= link_to 'Show', track_use %></td>
    <td><%= link_to 'Edit', edit_track_use_path(track_use) %></td>
    <td><%= link_to 'Destroy', track_use, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Track use', new_track_use_path %>
