<%= javascript_include_tag 'jquery.bxslider' -%>

<script type="application/javascript">
    $j(document).ready(function() {
        $j('.bxslider').bxSlider({
            randomStart: true,
            slideWidth: 900,
            pager: false
        });
    });
</script>

<div class="carousel-wrapper">
  <ul class="bxslider">
    <li><%= image_tag 'carousel_images/upp_anh_01.jpg' -%> <div class="image-credit">Photo by Posgrado UPP</div></li>
    <li><%= image_tag 'carousel_images/upp_anh_02.jpg' -%> <div class="image-credit">Photo by Posgrado UPP</div></li>
    <li><%= image_tag 'carousel_images/upp_anh_03.jpg' -%> <div class="image-credit">Photo by Posgrado UPP</div></li>
    <!--<li>-->
    <!--<div style="text-align: center; width: 900px; height: 300px; background: #ffffcc; line-height: 300px; font-size: 32px;">-->
    <!--Your photo here-->
    <!--</div>-->
    <!--</li>-->
  </ul>
  <div class="carousel-info-box">
    <h5><%= t('.welcome') %></h5>
    <p>
      <%= t('.tech_info') %> <%= link_to t('.project'), 'http://informatica.uppuebla.edu.mx/' -%>, <%= t('.visit') %> <%= link_to t('.contact'), contact_path -%>.
    </p>
  </div>
</div>
