<div>
  <h1><%= t('.title') %></h1>
  <p><%= t('.goal') %></p>
  <p><%= t('.features') %></p>
  <ul>
    <li><%= t('.feature_1') %></li>
    <li><%= t('.feature_2') %></li>
    <li><%= t('.feature_3') %></li>
    <li><%= t('.feature_4') %></li>
    <li><%= t('.feature_5') %></li>
    <li><%= t('.feature_6') %></li>
    <li><%= t('.feature_7') %></li>
    <li><%= t('.feature_8') %></li>
  </ul>
  <p><%= t('.extra_info') %></p> 
  <h2><%= t('.subtitle') %></h2>
  <p><%= t('.development') %></p><br>
  <ul>
    <li>
      <strong><%= t('.myexperiment_link_tag') %>:</strong>
      <%= t('.myexperiment') %>
    </li>
    <li>
      <strong><%= t('.taverna_link_tag') %>:</strong>
      <%= t('.taverna') %>
    </li>
    <li>
      <strong><%= t('.seek_link_tag') %>:</strong>
      <%= t('.seek') %>
    </li>
    <li>
      <strong><%= t('.biovel_link_tag') %>:</strong>
      <%= t('.biovel') %>
    </li>
  </ul>
 </div>

