<div class="breadcrumbs">
  <a href="/"><%= t('.home_tag')%></a> &gt;
  <%= link_to @workflow.category.name, main_app.workflows_path(:category_id => @workflow.category) -%> &gt;
  <%= link_to @workflow_version.title, main_app.workflow_path(@workflow, :version => @workflow_version.version) -%> &gt;
  <%= t('.new_tag')%>
</div>

<div class="contribution_title">
  <h1><%= t('.new_wfr_tag') + @workflow_version.title -%></h1>
</div>

<% if current_user.guest? %>
    <div class="box_infotext curved" style="margin: 1em auto">
      <h5><%= t('.guest_tag')%></h5>
      <p> 
        <%= t('.guest_inf1_html')%>
      </p>
      <p> 
        <%= t('.guest_inf2_html')%> <%= link_to t('.login'), main_app.new_session_path -%> <%= t('.guest_inf3_html')%> <%= link_to t('.signup'), main_app.signup_path -%>.
      </p>
    </div>
<% end %>


<div class="show_basic">
  <%= error_messages_for :run -%>

  <%= form_for @run, :html => {:multipart => true} do |f| %>
      <%= f.hidden_field :workflow_id, :value => @workflow.id %>
      <%= f.hidden_field :workflow_version, :value => @workflow_version.version %>
      <%= f.hidden_field :embedded %>

      <div class="box_about_actor" style="text-align: left; padding: 20px 20px 20px 0px;">
        <%= f.label :name, t('.run_name')  %><br/>
        <%= f.text_field :name, :value => "#{@workflow_version.title} (v#{@workflow_version.version}) run " + Time.now.utc.strftime('%e %b %Y %H:%M:%S %Z'), :style => 'width: 100%' %>
      </div>

      <!-- Data inputs -->
      <% unless @workflow_version.data_input_ports.blank? %>
          <%= render :partial => 'inputs_form', :locals => {:title => t('.data'), :inputs => @workflow_version.data_input_ports, :form => f} %>
      <% end %>

      <!-- Parameter inputs -->
      <% unless @workflow_version.parameter_input_ports.blank? %>
          <%= render :partial => 'inputs_form', :locals => {:title => t('.parameters'), :inputs => @workflow_version.parameter_input_ports, :form => f} %>
      <% end %>
      <br/>

      <div style="float: left;">
        <%= f.submit t('.start_run') %>
        <% unless @run.embedded? %>
              <span style="padding-left: 10px;">
                 <%= link_to t('.cancel'), :back %>
              </span>
        <% end %>
      </div>
  <% end %>
</div>
