<%= image_tag "logos/conacyt_long.png", :style => "width: 128px; float: left; margin: 0 20px" %>

<div style="width: 800px"><%= link_to "LVB UPP", "http://www.lvbupp.edu.mx/", :target => '_blank' %> <%= t('.funding_1')%>. <%= t('.funding_2')%> <%= link_to t('.about_page'), about_path -%>
</div>

<p style="text-align: right;">Portal version: <%= $version -%></p>
