<%= image_tag "logos/conacyt_long.png", :style => "width: 128px; float: left; margin: 0 20px" %>

<div style="width: 800px"><%= link_to "LVB UPP", "http://www.lvbupp.edu.mx/", :target => '_blank' %> <%= t('.funding_1')%>. <%= t('.funding_2')%> <%= link_to "BioVeL", "http://www.biovel.eu", :target => '_blank' %>, <%= link_to "SEEK", "http://www.seek4science.org", :target => '_blank' %> <%= t('.and_c')%> <%= link_to "Taverna", "http://www.taverna.org.uk", :target => '_blank' %>
</div>

<p style="text-align: right;">Portal version: <%= $version -%></p>
